﻿.confirm_email{
    display:none;
}

.partner-more-info {
    border-bottom: 1px dotted #000;
    position: relative;
    cursor: pointer
}

.partner-popup {
    position: absolute;
    background: #fff;
    top: 50%;
    border: 1px solid #ccc;
    padding: 5px !important;
    left: auto;
    max-width: 540px;
    min-width: 180px;
    z-index: 100;
    display: none;
}