﻿b {
    font-weight: bold;
}
.container_parent_tips {
    font-family: Arial;
}
.container_parent_tips p {
    margin: 10px 0;
    line-height:30px;
    font-size: 16px;
}
.container_parent_tips p a {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
    color: #ec1559;
}
.container_parent_tips hr {
    clear: both;
    border: 0;
    height: 0;
    border-top: 2px solid #5a8bcc;
    margin: 10px 0 14px;
    display:block !important;
}
    .container_parent_tips p b {
        font-size: 20px;
        color: black;
    }
.container_parent_tips ol {
    list-style:decimal;
    line-height:30px;
    margin-left:5%;
    margin-right:2%;
}
    .container_parent_tips ol li b {
        font-size: 20px;
        color: black;
        /*color: #ec1559;*/
    }

    .container_parent_tips .baby {
        width: 100%;
        max-width: 450px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }









