﻿body {
}

#topcoupon {
    font-size:16px;
    line-height:20px;
}

    #topcoupon .title {
        padding-top:10px;
        font-family: Arial;
        font-weight:bold;
        font-size:24px;
        color:#1a6e93;
    }

        #topcoupon .title a {
            color:inherit;
        }

    #topcoupon .subtitle {
        color:#1a6e93;
        font-size:20px;
        font-weight:bold;
        margin-bottom: 7px;
        text-decoration: underline;
    }

    #topcoupon .date {
        font-size:12px;
        color: #333333;
    }

    #topcoupon .button {
        text-align:center;
        padding:25px;
    }

        #topcoupon .button a {
            padding: 10px 17%;
            background: #00cc33;
            color: #FFF;
            font-size:14px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            border: solid 1px #20538D;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
            -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
            -webkit-transition-duration: 0.2s;
            -moz-transition-duration: 0.2s;
            transition-duration: 0.2s;

            background-image: -webkit-gradient(linear, left top, left bottom,
            from(#00cc33), to(#009a01) ); /* for Chrome + Safari */
            background-image: -moz-linear-gradient(  top,
            #00cc33, #009a01 ); /* for Firefox */
        }
        #topcoupon .button a:hover, #topcoupon .button a:focus {
            background: #009a01;
            border: solid 1px #2a4e77;
            text-decoration: none;
            background-image: -webkit-gradient(linear,left top,left bottom,from(#009a01),to(#006001));
            background-image: -moz-linear-gradient(top,#009a01,#006001);
        }
        #topcoupon .button a:active {
            -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
            -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
            box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
            background: #00f43c;
            border: solid 1px #203E5F;

            background-image: -webkit-gradient(linear, left top, left bottom,
            from(#00df38), to(#00cc33) ); /* for Chrome + Safari */
            background-image: -moz-linear-gradient(  top,
            #00df38, #00cc33 ); /* for Firefox */
        }

        #topcoupon .pink a {
            background: #ec1559;
            background-image: -webkit-gradient(linear, left top, left bottom,
            from(#ec1559), to(#bd0f47) ); /* for Chrome + Safari */
            background-image: -moz-linear-gradient(  top,
            #ec1559, #bd0f47 ); /* for Firefox */
        }
        #topcoupon .pink a:hover, #topcoupon .pink a:focus {
            background: #bd0f47;
            background-image: -webkit-gradient(linear,left top,left bottom,from(#bd0f47),to(#880b33));
            background-image: -moz-linear-gradient(top,#bd0f47,#880b33);
        }
        #topcoupon .pink a:active {
            background: #ec1559;
            background-image: -webkit-gradient(linear, left top, left bottom,
            from(#ec1559), to(#bd0f47) ); /* for Chrome + Safari */
            background-image: -moz-linear-gradient(  top,
            #ec1559, #bd0f47 ); /* for Firefox */
        }

    #topcoupon .image {
        text-align:center;
    }
    #topcoupon .image img {
        width: 100%;
        max-width: 475px;
        max-height: 275px;
    }
    #topcoupon .imagehp img {
    }

    #topcoupon .text {
        font-size:16px;
    }

    #topcoupon .tags {
        font-size:12px;
    }

#coupons .coupon {
    font-size:14px;
    line-height:18px;
}

#coupons .coupon .title {
    font-family: Arial;
    font-weight:bold;
    font-size:19px;
    color:#1a6e93;
    padding-bottom:10px;
}

    #coupons .coupon .title a {
        color: inherit;
        text-decoration: none;
    }

#coupons .coupon .img {
    float:left;
    width:25.5%;
}

#coupons .coupon .img img {
    width:100%;
}


#coupons .coupon .details {
    float:right;
    width:68%;
    margin-right: 5%;
    padding-bottom:10px;
    margin-top: 20px;
}

    #coupons .coupon .details a {
        text-decoration: none;
    }

#coupons .coupon .details_pad {
    margin-top: 40px;
}

#coupons .coupon .button {
    margin: 0;
    width:55%;
}

#coupons .coupon .pink {
    margin: 0;
    width:55%;
    max-width: 129px;
}

#coupons .coupon .expire {
    font-size:12px;
    color: #333333;
    width:100%;
    padding-bottom:6px;
}

#coupons hr {
    display: block;
    height: 1px;
    border-top: 2px solid #a0afc4;
    margin: 1em 0;
    padding: 0;
}

#poPrevNext .all {
    text-align:center;
    font-family: Arial;
    line-height: 10px !important;
}

#poPrevNext .prev {
    float:left;
    text-align:left;
}
#poPrevNext .next {
    float:right;
    text-align:right;
}
#poPrevNext .image {
    width:10.3%;
}
    #poPrevNext .image img {
        width:100%;
    }
#poPrevNext .lnk {
    color:#1a6e93;
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
    margin:unset;
}
    #poPrevNext .lnk a {
        color: inherit;
        font-size:16px;
    }

.Settlementsort{
    float:right;
    margin-bottom: 16px;
}

.Settlementsort select{
    border: solid #2a7ea3 1px;
    padding: 8px 10px;
}

.recipe_categories{
    width: 100%;
}

    .recipe_categories .breadcrumbs{
        float:left;
        max-width: 500px;
    }

    .recipe_categories .categories{
        max-width: 263px;
    }

        .recipe_categories .categories img{
            max-width: 263px;
            cursor: pointer;
            padding-top: 10px;
        }

    .categories-contents {
        display: none;
        /*position: absolute;*/
        background-color: #ec1559;
        max-width: 400px;
        width: 92%;
        font-weight:bold;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        border-radius:10px;
        left: 0;
        right: 0;
    }

        .categories-contents .category {
            width: 31.3%;
            margin: 0 1%;
            float: left;
            text-align: center;
            font-size: 12px !important;
            height: 150px;
        }

        .categories-contents .category .img{
            padding-top: 10px;
        }

        .categories-contents .category .title{
            padding-top: 4px !important;
        }

        .categories-contents .category img{
            height: 80px;
            width: 80px;
            border-radius:50%;
            margin-top: 10px;
        }

        .categories-contents a {
            color: white !important;
            text-decoration: none;
            display: block;
            font-size: 12px !important;
        }

        .categories-contents .all_categories {
            text-align: center;
            padding-top: 5px;
        }

            .categories-contents .all_categories hr {
                text-align: center;
                display: block !important;
                width: 90%;
            }

            .categories-contents .all_categories a {
                padding: 5px 0 10px;
            }

.show {
    display:block !important;
}
    
@media (min-width:400px) {
    #coupons .coupon .button {
        margin: 0;
        width:50%;
    }
}

@media (min-width:425px) {
    #topcoupon .button a {
        font-size:24px;
    }
}
    
@media (min-width:450px) {
    #coupons .coupon .button {
        margin: 0;
        width:40%;
    }
}

@media (min-width:545px) {
    #poPrevNext .lnk a {
        font-size: 22px;
    }

    #coupons .coupon .button {
        margin: 0;
        width:35%;
    }
}
    
@media (min-width:600px) {
    #coupons .coupon .button {
        margin: 0;
        width:36%;
    }

    #poPrevNext .lnk {
        line-height:30px;
    }
}
    
@media (min-width:750px) {
    #coupons .coupon .button {
        margin: 0;
        width:50%;
    }

    #poPrevNext .lnk {
        line-height:unset;
    }
}
    
@media (min-width:900px) {
    #coupons .coupon .button {
        margin: 0;
        width:40%;
    }

    #poPrevNext .lnk {
        line-height:30px;
    }
}
    
@media (min-width:1100px) {
    #coupons .coupon .button {
        margin: 0;
        width:26%;
    }

    #poPrevNext .lnk {
        line-height:40px;
    }

    .recipe_categories .categories{
        float:right;
        position: relative;
        display: inline-block;
        text-align: right;
    }

        .recipe_categories .categories img{
            max-width: 263px;
            padding: unset;
        }

    .categories-contents {
        right: 15px;
        left: unset;
    }
}