﻿.amazon, .maxx {
    max-width: 728px;
    padding: 0px 0 25px;
}
.swtkes, .mdmexclusives {
    max-width:311px;
    padding:15px 0;
}
.amazon_mobileOnly {
    display:none;
}
.amazon_desktopOnly {
    display: block;
}
.newads_mobileOnly {
    display: none;
}
#ad {
    float: right;
    max-width: 300px;
    height: 250px;
    padding: 10px 0 15px 15px;
}

.ad8 {
    max-width: 300px;
    float: right;
    padding: 15px 0 15px 15px;
}

.OUTBRAIN {
    padding-top:20px;

}
#OUTBRAIN_SIDE {
    margin-top: 15px;
    text-align: center;
    background-color: white;
    padding: 10px 10px;
    border-radius: 5px;
}

.numbers_desktopOnly {
    display: block;
}
.numbers_mobileOnly {
    display: none;
}
@media(max-width:600px) {
    #ad {
        float: unset;
        padding: 0px;
        width: 90%;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    .ad8 {
        float: unset;
        padding: 15px;
    }
}
@media(max-width:510px) {
    .amazon_mobileOnly {
        display: block;
        width: 93%;
        padding-top: 5px;
    }
    .amazon_desktopOnly {
        display: none;
       
    }
    .numbers_desktopOnly {
        display: none;
    }
}

@media(max-width:500px) {
    .numbers_desktopOnly {
        display: none;
    }
    .numbers_mobileOnly {
        display:block;
    }
}

@media(max-width:450px) {
    .newads_mobileOnly {
        display: block;
    }
}

