﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#">
<head runat="server">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>MomsBudgetBasic</title>
    <asp:Literal runat="server" ID="lithead" />

    <meta property="og:site_name" content="MomsBudgetBasic" />
    <meta name="keywords" content="Free,Click,Prize,Samples,Rebates,Mom,Mommys" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />



    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> 
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script	type="text/javascript"	async="async"	src="https://widgets.outbrain.com/outbrain.js"></script>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css' />
    <link href="/css/reset.css" rel="stylesheet" />
<link href="/css/MF_style.css" rel="stylesheet" />
    <link href="/css/newAds.css" rel="stylesheet" />

    <asp:ContentPlaceHolder id="head" runat="server"></asp:ContentPlaceHolder>
    <script type="text/javascript">

        function togglecat() {
            $("#categories").toggle();
        }
        var showMatchedAd = true;

        $(document).ready(function () {

            if (matchMedia('(min-width: 1000px)').matches) {
                //desktop
                $('#OUTBRAIN').append('<div class="OUTBRAIN" data-widget-id="GS_2" data-src="" data-ob-template="WhatIfHoldings,LLC"></div>');
                $('#OUTBRAIN_SIDE').append('<div class="OUTBRAIN" data-widget-id="GS_7" data-src="" data-ob-template="WhatIfHoldings,LLC"></div>');

            }
            else if (matchMedia('only screen and (min-width: 510px) and (max-width:999px)').matches) {
                //destop small
                $('#OUTBRAIN').append('<div class="OUTBRAIN" data-widget-id="GS_1" data-src="" data-ob-template="WhatIfHoldings,LLC"></div>');
                $('#OUTBRAIN_SIDE').append('<div class="OUTBRAIN" data-widget-id="GS_7" data-src="" data-ob-template="WhatIfHoldings,LLC"></div>');
            }
            else if (matchMedia('only screen and (min-width: 310px) and (max-width:509px)').matches) {
                $('#OUTBRAIN').append('<div class="OUTBRAIN" data-widget-id="GS_7" data-src="" data-ob-template="WhatIfHoldings,LLC"></div>');
                $('#OUTBRAIN_SIDE').append('<div class="OUTBRAIN" data-widget-id="GS_7" data-src="" data-ob-template="WhatIfHoldings,LLC"></div>');
            }
            if (matchMedia('(max-width:750px)').matches) {
               
                $(".fb-page-bottom").show();
                $(".fb-page-categrory").hide();
            }
            else {                
                $(".fb-page-categrory").show();
                $(".fb-page-bottom").hide();
            }
            if (matchMedia('(max-width:750px)').matches) {
                $(".fb-page-bottom").append('<div class="fb-page" data-href="https://www.facebook.com/MommysFreebies" data-width="340" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"></div>');
            }
            else {
                $(".fb-page-categrory").append('<div class="fb-page" data-href="https://www.facebook.com/MommysFreebies" data-width="340" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"></div>');
            }
        });
</script>
</head>
<body>
    <form  runat="server" method="post" action="./" id="form1">

                <div class="headline desktopOnly"><div class="header"><asp:Literal runat="server" ID="litHeader"></asp:Literal></div></div>
        <div class="headline mobileOnly"><div class="header"><asp:Literal runat="server" ID="litHeaderMobile"></asp:Literal></div></div>



           <div id="header">
                <div class="container">
                    <div class="catbtn">
                        <div class="btn">
                            <a href="javascript:void(0);" onclick="togglecat();">
                                <div style="width: 25px;height: 5px;margin: 0px 0; border-top:solid 2px black;"></div>
                                <div style="width: 25px;height: 5px;margin: 0px 0; border-top:solid 2px black;"></div>
                                <div style="width: 25px;height: 5px;margin: 0px 0; border-top:solid 2px black;"></div>
                            </a>
                        </div>
                    </div>
                    <div class="signup">
                        <div><a target="_blank" href="/register.aspx">Sign Up!</a></div>
                    
                    </div>                
                    <div class="logo">
                        <a href="/"><img src="/images/mbb_logo_small.png" /></a>
                    </div>
    
                </div>
               <div class="clear"></div>
            </div>


        <div class="container">
                <div id="left">
                     <div id="categories">
                         <div class="category_header"><p><asp:Literal runat="server" ID="litMenu"></asp:Literal></p></div>
                        <div class="categories_border"><div class="list"><asp:Literal runat="server" ID="litCategories"></asp:Literal></div></div>
                        <div id="OUTBRAIN_SIDE"></div>
                        <div class="fb-page-categrory"></div>
                    </div>
                </div>
            <div id="main">
                <asp:ContentPlaceHolder id="ContentPlaceHolderMain" runat="server"></asp:ContentPlaceHolder>
                            <div id="OUTBRAIN" style="padding-top:15px;text-align: center;"></div>
                <div class="fb-page-bottom"></div>
            </div>
        </div>



             
        <div style="clear:both;"></div>
        <div id="bottom">
            <div class="top">
                <div class="title">Mom's Budget Basics is The Ultimate  Resource Guide for Today’s Savvy Moms</div>
                <div class="bullets">Recipes <span>•</span> Budget Ideas  <span>•</span> Free Samples <span>•</span> Mom Advice</div>
            </div>
            <div class="bottom">
                <div class="disclosure">Mom's Budget Basics is not affiliated with any of the listed products, brands, or organization, nor do any of them endorse or sponsor Mom's Budget Basics.<br /></div>
                
                <div class="copy">Copyright &copy; 2019 Mom's Budget Basics.<br />
                    <a href="/" target="_blank">Home</a> | <a href="/Terms.aspx" target="_blank">Terms and Conditions</a> | <a href="/HowItWorks.aspx" target="_blank">How It Works</a> | <a href="/Privacy.aspx" target="_blank">Privacy Policy</a> | <a href="/Unsub.aspx" target="_blank">Unsubscribe</a>
                </div>
            </div>
        </div>
    </form>

        <asp:ContentPlaceHolder id="OutsideForm" runat="server">

 
    </asp:ContentPlaceHolder>

    


    
</body>
</html>
