﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPageAnswer.master.cs" Inherits="MasterPageAnswer" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#">
<head runat="server">
    <asp:Literal runat="server" ID="lithead" />
    <meta property="og:site_name" content="<%=System.Configuration.ConfigurationManager.AppSettings["title"] %>" />
    <meta name="keywords" content="class,action,guide, class action" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta property="fb:admins" content="673478104"/>
    <meta property="fb:app_id" content="<%=System.Configuration.ConfigurationManager.AppSettings["facebook_appid"] %>"/>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css' />
    <link href="/css/reset.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />

    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>

    <script type="text/javascript">
        function togglecat() {
            $("#header .greentext").toggle();
            $("#categories").toggle();
        }
    </script>
    

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push(
        { google_ad_client: "ca-pub-0634471641041185", enable_page_level_ads: true }

        );
    </script>
</head>
<body>
    <form id="form1" runat="server">
        <div id="headline">
            <img src="<%=System.Configuration.ConfigurationManager.AppSettings["AssetPath"] %>/images/title.png" />
            <div class="signup"><a target="_blank" href="http://reg.thehomemoneyguide.com/hosting/staticpages/HMG_FormCL.aspx?c=HMGCL&redir=0&referid=Content">Sign Up!</a></div>
        </div>
        <div id="container">
        <div id="header">
            <div class="logo">
                <img src="<%=System.Configuration.ConfigurationManager.AppSettings["AssetPath"] %>/images/logo.png" /></div>
            <div class="text">
                Unclaimed class action settlement means consumers are leaving billions of dollars on the table! Many consumers who pride themselves on counting every penny may may be missing out on money they're owed. That's because they're failing to collect on class action settlements that could range from just a bucks, to hundreds of dollars
                <div class="nbc">
                    <img src="<%=System.Configuration.ConfigurationManager.AppSettings["AssetPath"] %>/images/nbc.png" /></div>
            </div>
            <div class="scale">
                <img src="<%=System.Configuration.ConfigurationManager.AppSettings["AssetPath"] %>/images/scale.png" /></div>
            <div class="catbtn">
                <div class="arrow">
                    <img src="<%=System.Configuration.ConfigurationManager.AppSettings["AssetPath"] %>/images/redarrow.png" /></div>
                <div class="btn">
                    <a href="javascript:void(0);" onclick="togglecat();" /><img src="<%=System.Configuration.ConfigurationManager.AppSettings["AssetPath"] %>/images/mobilebtn.png" /></a></div>
            </div>
            <div style="clear:both;"></div>
                <div class="greentext">Explore the HomeMoneyGuide                    Categories to discover your Fortune, Lucky Numbers, 
                    Home Money News and more!</div>
        </div>
        <div class="ads_padding_top">
           

        </div>
        <div id="left">
            <div id="categories">
                <div class="categories_border">
                    <div class="header">
                        <img src="<%=System.Configuration.ConfigurationManager.AppSettings["AssetPath"] %>/images/explorecategories.png" /></div>
                    <div class="list"><asp:Literal runat="server" ID="litCategories"></asp:Literal></div>
                </div>
            </div>
            <div class="ads_padding_cat">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><!-- HMG - Body --><ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-0634471641041185" data-ad-slot="9580178383" data-ad-format="auto"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
            </div>
        </div>
        <div id="main">
            <asp:ContentPlaceHolder id="ContentPlaceHolderMain" runat="server">
        
            </asp:ContentPlaceHolder>
        </div>
    </div>
    <div style="clear:both;"></div>
    <div id="bottom">
        <div class="top">
            <div class="title">The Home Money Guide is your free source for information and updates about:</div>
            <div class="bullets">
                Celebrities <span>•</span> Daily Horoscopes <span>•</span> Lucky Numbers <span>•</span> Featured Articles <span>•</span> Zodiac News <span>•</span> & More
            </div>
        </div>
        <div class="bottom">
            <div class="disclosure">
                TheHomeMoneyGuide™ is not affiliated with any of the listed products, brands, or organizations, nor do any of them endorse or sponsor TheHomeMoneyGuide™.<br />The information and astrological interpretations at this site are for entertainment purposes only.
            </div>
            <div class="copy">Copyright &copy; <%=DateTime.Now.Year %> C4R Media Corp.<br />
                TheHomeMoneyGuide&#8482;
                <a href="/" target="_blank">Home</a> | <a href="/Terms.aspx" target="_blank">Terms and Conditions</a> | <a href="/Privacy.aspx" target="_blank">Privacy Policy</a> | <a href="/Unsub.aspx" target="_blank">Unsubscribe</a>
            </div>
        </div>
    </div>
    </form>
    <asp:ContentPlaceHolder id="OutsideForm" runat="server">


    </asp:ContentPlaceHolder>
<%--    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function ()
            { (i[r].q = i[r].q || []).push(arguments) }
            , i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-86457015-1', 'auto');
        ga('send', 'pageview');
    </script>--%>

</body>
</html>
